<template>
  <div>
    <div class="banner-home"></div>
    <transition name="slide-fade-form-login" mode="out-in">
        <keep-alive>
          <component :is="componentSelected" @logout="logout"></component>
      </keep-alive>
    </transition>
    <div v-if="$store.state.actionUser.user.action == 1">
      {{$bvToast.toast('Login Realizado com sucesso', {
          title:'Login',
            variant: 'success',
            toaster:'b-toaster-bottom-right',
            solid: true
          })}}
    </div>
    <div v-else-if="$store.state.actionUser.user.action == 2">
      {{$bvToast.toast('Cadastro Realizado com sucesso', {
            title:'Cadastro',
            variant: 'success',
            toaster:'b-toaster-bottom-right',
            solid: true
          })}}
    </div>
    <div v-else-if="$store.state.actionUser.user.action == 3">
      {{$bvToast.toast('Erro ao realizar ação, verifique os dados', {
            title:'Erro',
            variant: 'danger',
            toaster:'b-toaster-bottom-right',
            solid: true
          })}}
    </div>
  </div>

</template>

<script>
import FormMvp from '@/components/FormMvp.vue'
import ContentVideo from '../components/ContentVideo.vue';
export default {
  name: "HomeMvp",
  components:{
    FormMvp,
    ContentVideo
  },
  data() {
    return {
      componentSelected:'FormMvp'
    }
  },
  methods: {
    togleComponentByLoginUser(){
      if(this.userIsLogged){
        return this.componentSelected = 'ContentVideo'
      }
      if(!this.userIsLogged){
        return this.componentSelected = 'FormMvp'
      }
    },
    logout(){
    this.componentSelected = 'FormMvp'
    }
  },
  computed:{
    userIsLogged(){
      return Boolean(this.$store.state.actionUser.user.email);
    }
  },
  watch:{
    userIsLogged(){
      this.togleComponentByLoginUser();
    }
  },
  mounted() {
    this.togleComponentByLoginUser();
    if(localStorage.getItem('user')){
      this.$store.dispatch("actionUser/setUserByLogged", JSON.parse(localStorage.getItem('user')));
    }
  },
};
</script>

<style scoped>
.banner-home {
  height: 62vh;
  background-image: url(../assets/exemplo-banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.slide-fade-form-login-enter {
  opacity: 0;
}
.slide-fade-form-login-leave-to {
  opacity: 0;
}

.slide-fade-form-login-enter-active,
.slide-fade-form-login-leave-active {
  transition: all 0.25s;
}
@media only screen and (max-width: 1024px) {
  .banner-home {
  height: 21vh;
  background-image: url(../assets/exemplo-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
}
@media only screen and (max-width: 1900px) {
  .banner-home {
  height: 60vh;
}
}
@media only screen and (max-width: 1700px) {
  .banner-home {
  height: 40vh;
}
}
</style>
