<template>
  <div>
    <div class="banner-home"></div>
    <courses-card class="background-card-coursescard"></courses-card>
    <b-container fluid>
      <b-row>
      <b-col md="6" class="col-bar-card">
      </b-col>
      <b-col md="6" class="col-bar-card">
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6" class="image-section" ></b-col>
        <b-col md="6" class="text-section">
          <h2>{{ cardHome.cardTitle }}</h2>
          <p>{{ cardHome.cardBody[0] }}</p>
          <p>{{ cardHome.cardBody[1] }}</p>
          <p>{{ cardHome.cardBody[2] }}</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import CoursesCard from "@/components/CoursesCard.vue";
export default {
  name: "Home",
  components: {
    CoursesCard,
  },

  data: () => ({
    cardHome: {
      cardTitle:
        "Lorem Ipsum is simply dummy text of the printing and typesetting industry",
      cardBody: [
        "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged",
        "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.",
        "Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage",
      ]
    },
  }),
};
</script>

<style scoped>
.banner-home {
  height: 65vh;
  background-image: url(../assets/exemplo-banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.widthColumn {
  width: 50%;
}
.image-section {
  background-image: url(../assets/mulheres.png);
}
.text-section {
  padding: 4%;
}
.text-section > p {
  margin-top: 4%;
  font-size: 1.2rem;
}
.background-card-coursescard {
  background-color: #39497D;
}
.col-bar-card {
  height: 6vh;
}
.col-bar-card:nth-child(1) {
  background: #FF6C99;
}
.col-bar-card:nth-child(2) {
background: #4872FF;
}
</style>
