<template>
  <div class="container-fluid">
    <div class="row justify-content-center screen">
      <div
        class="left-login col-md-6 d-flex justify-content-center align-items-center"
      >
        <img class="imagem" src="../assets/modelo-logo2.png" />
      </div>
      <div
        class="rigth-login col-md-6 d-flex justify-content-center align-items-center"
      >
        <div class="cardLogin d-flex flex-column pt-0 ">
          <ul
            class="d-flex justify-content-around  mb-0 pb-3 tabsCardFormLogin mt-2"
          >
            <li
              class="tabCardFormLogin"
              @click.prevent="tabFormSelected = 'LoginForm'"
              :class="{ activeTab: tabFormSelected == 'LoginForm' }"
            >
              Login
            </li>
            <li
              class="tabCardFormLogin"
              @click.prevent="tabFormSelected = 'RegisterForm'"
              :class="{ activeTab: tabFormSelected == 'RegisterForm' }"
            >
              Cadastrar
            </li>
            <li class="tabCardFormLogin"></li>
          </ul>
          <transition name="slide-fade-form-login" mode="out-in">
            <keep-alive>
              <component :is="tabFormSelected"></component>
            </keep-alive>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";
import RegisterForm from "@/components/RegisterForm.vue";
export default {
  components: { LoginForm, RegisterForm },
  name: "Login",
  data() {
    return {
      tabFormSelected: "LoginForm",
    };
  },
};
</script>

<style scoped>
.screen {
  overflow-x: hidden;
  height: 100vh;
}

.left-login {
  background: #ff6c99;
}
.rigth-login {
  background: #39497d;
}

.tabsCardFormLogin {
  border-radius: 30px 30px 0px 0px;
  background: #f8f8f8;
}

.tabCardFormLogin:nth-child(3) {
  border-bottom: none;
  cursor: defaultd;
}

.tabCardFormLogin:nth-child(3):hover {
  border-bottom: none;
}

.tabCardFormLogin {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #81898d;
  width: 90px;
  border-bottom: 2px solid #f8f8f8;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}
ul {
  list-style: none;
  padding: 0;
}
.tabCardFormLogin:hover {
  color: #5b5c5c;
  border-bottom: 2px solid #39497d;
}
.activeTab {
  border-bottom: 2px solid #39497d;
}
.imagem {
  width: 600px;
  margin: 80px auto 80px auto;
}

.cardLogin {
  text-align: center;
  height: 550px;
  width: 375px;
  margin: 180px auto 180px auto;
  border-radius: 30px;
  padding: 0;
  padding-top: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
}
.slide-fade-form-login-enter {
  opacity: 0;
}
.slide-fade-form-login-leave-to {
  opacity: 0;
}

.slide-fade-form-login-enter-active,
.slide-fade-form-login-leave-active {
  transition: all 0.25s;
}
</style>
