<template>
  <div class="video-component">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <h2>Olá, {{$store.state.actionUser.user.name}}</h2>
      <p>Veja nossa primeira aula sobre Python, e logo logo vem muito mais por ai 😉</p>
    <iframe class="video-course" width="850" height="400" src="https://www.youtube.com/embed/p7cxt8F8fEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <b-button @click="logout()" variant="danger" class='mt-2'>Fazer Logout</b-button>
    </div>
  </div>
</template>

<script>
export default {
name:"ContentVideo",
data(){
  return{

  }
},
methods: {
  logout(){
    localStorage.clear();
    this.$store.dispatch("actionUser/logout");
    this.$emit('logout')
  }
},
}
</script>

<style scoped>
.video-component{
  padding: 20px;
}
p{
  font-size: 20px;
}
@media only screen and (max-width: 930px) {
.video-course{
width: 100%;
}
}

</style>