<template>
  <div>
    <b-container class="padding-container">
      <b-row>
        <b-col md="4">
          <b-card
            title="Aprendar a programar em Python "
            img-src="https://season-training.s3-sa-east-1.amazonaws.com/images/blog/blog-17.jpg"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
              Aprenda Python com Expressões Lambdas, Iteradores, Geradores, Orientação a Objetos e muito mais! Curso para quem quer começar Python.
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card
            title="Curso de PHP - Programação"
            img-src="https://blog.justdigital.com.br/wp-content/uploads/2018/10/PHP-LINGUAGEM.jpg"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
             Você vai desenvolver com uma das linguagens mais populares no mercado que evoluiu muito em todos os requisitos nos últimos anos.
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card
            title="Aprenda a Linguagem C"
            img-src="https://3.bp.blogspot.com/-FDjVLJ588L0/W2SuJcd23YI/AAAAAAAAD7U/ZokZMgP5__cCvzeeEL-SPL5kZM3FXFKVgCPcBGAYYCw/s1600/linguagemc2.png"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
              Aprenda a criar programas em C do Zero, desenvolva sua lógica e adquira uma base sólida! Perfeito para iniciantes da linguagem.
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card
            title="Power BI completo - Básico ao avançado"
            img-src="https://img.ibxk.com.br/2019/11/26/26142536944375.jpg"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
              Aprenda o passo a passo exato para criar dashboards e relatórios dinâmicos usando Business Intelligence.
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              variant=""
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card
            title="JavaScript - Curso Completo"
            img-src="https://sujeitoprogramador.com/wp-content/uploads/2019/08/jsjsjs.png"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
              JavaScript do 0 ao Avançado, com Node JS, Express JS, Socket IO, Firebase, Webpack e muito +!
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card
            title="Desenvolvimento Android"
            img-src="https://downloadcursos.net/wp-content/uploads/2020/09/1593130309c6e34a9.jpg"
            img-alt="Image"
            img-top
            tag="article"
            class="card"
          >
            <b-card-text>
              Desenvolvimento Android; Crie apps como: Instagram, WhatsApp, Flappy Bird, OLX, Ifood, Uber e muito mais!
            </b-card-text>
            <b-card-text>
              <strong>50. Moedas</strong>
            </b-card-text>

            <b-button
              to="#"
              class="button-view-course btn-green-tr"
              >Ver Curso
            </b-button>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import {
  BCard,
  BCardText,
  BContainer,
  BRow,
  BCol,
  BButton,
} from "bootstrap-vue";
export default {
  name: "CoursesCard",
  components: {
    BCard,
    BCardText,
    BContainer,
    BRow,
    BCol,
    BButton,
  },
};
</script>

<style scoped>
.padding-container {
  padding: 2% 0 0% 0;
}
.card {
  margin-bottom: 9% !important;
  border-radius: 10px;
  max-width: 22rem;
  border: none;
}
.card > img {
  border-radius: 5px 5px 0 0;
  height: 15pc;
}
h4 {
  font-size: 0.93em;
}
.button-view-course {
  transition: all 0.2s;
  width: 100%;
  color: black;
  background: #4872ff;
  font-weight: bolder;
  border: 1px solid mediumturquoise;
}
.button-view-course:hover {
  box-shadow: 4px 4px 0px 0px #494949;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  color: white;
  background: palevioletred; 
  border: hotpink;
}
</style>
