<template>
  <b-container fluid>
      <b-row>
        <b-col
          md="6"
          class="d-flex align-items-center justify-content-center form-section"
        >
          <div class="background-form" :class="{'remove-div': userIsLogged}"></div>
          <b-card
            class="card-form d-flex align-items-center justify-content-center"
          >
            <b-form>
              <b-form-group id="input-group-1" label-for="input-1">
                <b-form-input
                  type="text"
                  placeholder="Insira seu nome"
                  v-model="user.name"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-1" label-for="input-1">
                <b-form-input
                  type="email"
                  placeholder="Insira seu e-mail"
                  v-model="user.email"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-1" label-for="input-1">
                <b-form-input
                  type="password"
                  placeholder="Insira sua senha"
                  v-model="user.password"
                  required
                ></b-form-input>
              </b-form-group>
              <b-button
                type="submit"
                variant="outline-primary"
                class="button-register"
                @click.prevent="loginUser(user)"
              >
                Login
              </b-button>
              <b-button
                type="submit"
                variant="outline-danger"
                class="button-register"
                @click.prevent="sendDataToRegisterUser(user)"
              >
                Cadastrar
              </b-button>
            </b-form>
          </b-card>
        </b-col>
        <b-col md="6" class="text-section">
          <h2>Nossa Missão</h2>
          <p>
          Nosso objetivo é ajudar a diminuir o gap de gênero na área de TI, através de nossa plataforma onde mulheres que ja tem algum conhecimento ou mesmo iniciantes que desejam ingressar na área, irão ter a oportunidade de aprender ou aprimorar suas habilidades sobre lógica de programação, linguagens e mais... Tudo através de cursos que iremos disponibilizar através de videos aqui mesmo, para acessá-los basta preencher o formulário de login ao lado que você terá acesso ao nosso primeiro curso de introdução ao Python.
          </p>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
export default {
  name: "FormMvp",
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
      }
    };
  },
  methods: {
    sendDataToRegisterUser(user) {
      this.$store.dispatch("actionUser/registerUser", user);
    },
    loginUser(user) {
      this.$store.dispatch("actionUser/loginUser", user);
    },
  },
  computed:{
    userIsLogged(){
      return Boolean(this.$store.state.actionUser.user.email);
    }
  },
  watch:{
    userIsLogged(){
      this.user.name =  ''
      this.user.email =  ''
      this.user.password =  ''
    }
  },
};
</script>

<style scoped>
.widthColumn {
  width: 50%;
}
.form-section {
  position: relative;
}
.background-form {
  position: absolute;
  background-image: url(../assets/mulheres.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.card-form {
  position: absolute;
  border-radius: 10px;
  padding: 15px;
}
.text-section {
  padding: 4%;
}
.text-section > p {
  margin-top: 4%;
  font-size: 1.2rem;
}
.banner-home {
  height: 65vh;
  background-color: #c4c4c4;
}
.background-card-coursescard {
  background-color: #494949;
}
.button-register {
  height: 40px;
  margin: 2px;
}
input {
  width: 500px;
  height: 45px;
}
@media only screen and (max-width: 1024px) {
  input {
  width: 220px;
  height: 45px;
  }
  .card-form {
  position: relative;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
}
}
</style>