<template>
  <div>
    <ul class="CardFormLogin col p-5 ">
      <li>
        <input type="email" placeholder="E-mail" />
      </li>
      <li>
        <input type="password" placeholder="Senha" />
      </li>
      <li><button class="btn">Entrar</button></li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.CardFormLogin {
  background: #ffffff;
  margin-top: -5px;
  border-radius: 30px;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0;
  margin-left: 0px;
  margin-top: 10px;
}
li input {
  color: #4872ff;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #959595;

  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.btn {
  color: #ffffff;
  background: #4872ff;
  width: 100%;
  padding: 8px;
  margin-top: 45px;
  position: relative;
  font-size: 18px;
  z-index: 0;
  border-radius: 0px;
}
ul {
  list-style: none;
  padding: 0;
}
.btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  content: "";
  background: #ff6c99;
  transition: transform 0.5s;
}

.btn::before {
  transform-origin: right top;
  transform: scale(0, 1);
}

.btn:hover::before {
  color: white;
  transform-origin: left top;
  transform: scale(1, 1);
}
</style>
