<template>
  <div >
    <transition name="slide-fade" mode="out-in">
      <b-navbar id="nav-color">
        <div class="container align-items-center justify-content-center">
          <b-navbar-nav class="alignNavBar">
            <b-navbar-brand to="#">
              <img src="@/assets/logo1.png" class="logo" alt="Logo.png" />
            </b-navbar-brand>
            <!-- <b-nav-item class="navBarLinK" to="#">
              Cursos
            </b-nav-item> -->
          </b-navbar-nav>
          <!-- <b-navbar-nav class="alignNavBar">
            <b-nav-form>
              <input
                name="search"
                id="search"
                type="text"
                placeholder="Buscar..."
              />
              <input type="submit" id="magnifyingGlass" value="Buscar" />
            </b-nav-form>
            <b-nav-item class="navBarLinK enterAccount" :to="{ name: 'Login' }">
              Entrar
            </b-nav-item>
            <b-nav-item class="navBarLinK" to="#">
              <b-button variant="light">
                Criar Conta
              </b-button>
            </b-nav-item>
          </b-navbar-nav> -->
        </div>
      </b-navbar>
    </transition>
  </div>
</template>

<script>
import {
  BNavbarNav,
  BNavbar,
  BNavbarBrand,
  // BNavItem,
  // BNavForm,
  // BButton,
} from "bootstrap-vue";
export default {
  name: "Navbar",
  components: {
    BNavbarNav,
    BNavbar,
    BNavbarBrand,
    // BNavItem,
    // BNavForm,
    // BButton,
  },
};
</script>

<style scoped>
#nav-color{
  background: #39497D;
}

.disableElementsOnNavbar {
  display: none !important;
}
a,
.navBarLinK {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
.navBarLinK:hover {
  color: lightgray !important;
  text-decoration: none;
}

.enterAccount {
  margin-right: 25px;
}

.alignNavBar {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.logo {
  width: 95%;
}

form {
  position: relative;
}

#search {
  color: transparent;
  margin-right: 5%;
  border: none;
  border-radius: 6px;
  padding: 8px;
  width: 500px;
}

#search {
  transition: all 0.7s ease-in-out;
}

#search::-webkit-input-placeholder {
  color: #343a40;
  transition: all 0.2s ease-in-out;
}

#search:focus::-webkit-input-placeholder {
  color: white;
}

#search:focus {
  color: #343a40;
  outline: none;
}

#magnifyingGlass {
  transition: all 0.2s ease-in-out;
  width: 62px;
  height: 62px;
  position: absolute;
  text-indent: -1000px;
  background: url("../assets/search.svg") no-repeat center center;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  top: -10px;
  right: 25px;
}

#magnifyingGlass:hover {
  transform: scale(1.3);
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translate3d(-500px, 0px, 0);
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s;
}
</style>
