<template>
  <div id="app">
    <navbar :class="{ disableElementsOnNavbar: isLoginOnUrl }"></navbar>
    <transition name="slide-fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
export default {
  name: "App",
  components: {
    Navbar,
  },
  data() {
    return {};
  },
  computed: {
    isLoginOnUrl() {
      return Boolean(this.$route.path == "/login");
    },
  },
  methods: {
    sendDataToRegisterUser(user) {
      this.$store.dispatch("register/registerUser", user);
    },
  },
};
</script>
<style>
.slide-fade-enter {
  opacity: 0;
  transform: translate3d(0px, 0px, 0);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translate3d(-500px, 0px, 0);
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s;
}
</style>
